.photo-grid__button {
    font-size: 0;
    background: none;
    border: none;
    outline: none;
    transition: opacity 1s ease;
    margin: 30px 20px 30px 0;
    padding: 0;
    cursor: pointer;
}

.photo-grid__button:hover {
    opacity: 0.5;
}